/* css reset  */
*{
    margin: 0px;
    padding: 0px;
}
/* css variables */
:root{
    --navbar-height: 59px;
}

/* navigation bar  */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    /* top: 0px; */
}

/*  nav bar: logo and image  */
#logo{
    margin: 6px 29px;
}
#logo img{
    margin: 6px 29px;
    height: 71px;
    width: 113px;
}

/* navigation bar: list styling */

#navbar ul{
    display: flex;
    font-family: sans-serif;
}
#navbar::before{
    content:"" ;
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
opacity: 0.4;
}

#navbar ul li{
    list-style: none;
    font-size: 1.7rem;
}

#navbar ul li a{
display: block;
padding: 3px 23px;
border-radius: 20px;
text-decoration: none;
color: white;
}
#navbar ul li a:hover{
color: black;
background-color: white;
}

/* home section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 427px;
justify-content: center;
align-items: center;
}

#home::before{
    content:"" ;
    position: absolute;
    top: 0px;
    left: 0px;
    background: url('../bg.jpg') no-repeat center center/cover;
    width: 100%;
    height: 80%;
    z-index: -1;
opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
    font-family: sans-serif;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: sans-serif;
}
/* services section  */
#services{
    margin: 3px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
padding: 34px;
margin: 0px 11px;
border-radius: 23px;
background-color: rgb(216, 210, 210);
}
#services .box img{
    height: 131px; display: block; margin: auto;
}
#services .box p{
    font-family: Arial, Helvetica, sans-serif;
}
#services{}
#services{}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* utility classes */

.btn{
        padding: 6px 23px;
    border: 2px solid white;
    background-color: brown ;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 13px;
    cursor: pointer;
}

.center{
    text-align: center;

    
}
.h-primary{
    font-size: 3.4rem;
    padding: 59px;
font-family: sans-serif;
}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: sans-serif;
}


/* clients section  */
#client-section{
   position: relative;
}
#client-section .client-item img{display: block ;
margin: auto;
height: 134px;
}
#client-section::before{
    content: "";
    position: absolute;
   background: url('../bg1.jpg');
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: 0.5;

}
.client-item{
    padding: 34px;

}
#clients{
    display: flex; justify-content: center; align-items: center;
}

/* contact section  */
.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 37px;
}
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    background: url('../contact.jpg') no-repeat center center/cover;
}
.contact-box form{
    width: 40%;

}
.contact-box label{
    font-size: 1.3rem; font-family: sans-serif;
}
.contact-box input{
    width: 100%;
    padding: 0.5rem;

}
.contact-box textarea{
    width: 100%;
    padding: 0.5rem;
border-radius: 9px;
font-size: 1.1rem;
}
 
